.header {
  background-color: white;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

.header__logo {
  width: 94px;
  height: 26px;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .header__logo {
    margin-bottom: 10px;
    display: flex;
  }
}
